<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1 class="judul">register menu</h1>
        <form actions="/registers" method="post" class="content">
            <div class="col">
                <label for="username">username</label>
                <input type="text" name="username" id="username">
            </div>
            <div class="col">
                <label for="password">password</label>
                <input type="password" name="password" id="password">
            </div>
            <div class="btn">
                <button type="submit">registers</button>
                <button>cancel</button>
            </div>
        </form>
    </div>
</body>
</html>